body {
    font-family: monospace;
    background-color: var(--surface1);
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* =================================================================

    Header

================================================================= */
header {
    display: flex;
    width: 100vw;
    background-color: var(--brand);
    height: 4rem;
    padding: 10px;
}

header img {
    width: 2rem;
}

header Input {
    margin-left: 1rem;
    width: 90vw;
    outline: none;
}

/* =================================================================

    Content

================================================================= */

.container {
    display: flex;
}

nav {
    height: fit-content;
    padding: 1rem;
    background-color: var(--surface4);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    width: 10rem;
    height: 2.25rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    cursor: pointer;
}

.markdown-cell {
    background-color: var(--surface4);
    color: var(--text1);
    border-radius: 4px;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.markdown-cell p.title {
    font-weight: bold;
}

.markdown-cell .tag {
    display: inline;
    margin-right: 0.5rem;
    font-size: 0.75rem;
    font-style: bold;
    color: var(--white);
}

.modal {
    background-color: var(--brand);
    color: #fff;
    position: absolute;
    width: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0.5rem;
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.4rem;
    border-radius: 0.25rem;
}

.rad-shadow {
    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: 0 1rem 0.5rem -0.5rem;
    box-shadow: 0 2.8px 2.2px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
        0 6.7px 5.3px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
        0 12.5px 10px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
        0 22.3px 17.9px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
        0 41.8px 33.4px
            hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
        0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

/* =================================================================

    Footer

================================================================= */

footer {
    background-color: var(--surface2);
    width: 100vw;
    height: 2rem;
    padding: 10px;
    color: var(--text1);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

footer img {
    height: 1rem;
    margin-left: 5px;
}
