html {
    background-color: var(--surface1);
}

.navbar {
    background-color: var(--text1);
    height: 5rem;
}

p.logo {
    color: var(--surface1);
    font-weight: bold;
}

p.desc {
    font-size: 1.5rem;
    color: var(--text2);
}

.box {
    background-color: var(--surface3);
}

.menu-label,
a.menu-item {
    color: var(--text1);
}

.tag {
    margin-top: 10px;
}

.input {
    min-width: 88vw;
}

.hasContent {
    background-color: var(--surface2);
    color: var(--text1);
    border-radius: 0.25rem;
    padding: 1rem;
}

.box {
    cursor: pointer;
}

.info {
    padding: 0.25rem;
    border-radius: 10px;
    background-color: var(--surface4);
    color: var(--text1);
    margin-left: 5px;
}
